apiVersion: v1
kind: Secret
metadata:
  name: slackbot-secrets
  namespace: slackbot
type: Opaque
stringData:
  SLACK_BOT_TOKEN: "xoxb-your-bot-token-here"
  SLACK_APP_TOKEN: "xapp-your-app-token-here"
  OPEN_ROUTER_KEY: "open-router-key-here"